<div class="cd-badges">
	<template ngFor let-page [ngForOf]="badgePages" let-i="index">
		<div class="cd-badge-page">
			<template ngFor let-registration [ngForOf]="page.registrations" let-i="index">
				<div class="cd-badge" *ngIf="registration.markerText">
					<div class="cd-badge-marker">{{registration.markerText}}</div>
					<div class="cd-badge-marker-arrow"><span class="fa fa-arrow-circle-o-down"></span></div>
				</div>

				<div class="cd-badge" *ngIf="registration.participant">
					<div class="cd-badge-header"
						[class.yellow]="registration.totalNumberOfCheckins >= 4"
						[class.orange]="registration.totalNumberOfCheckins >= 9"
						[class.green]="registration.totalNumberOfCheckins >= 14"
						[class.blue]="registration.totalNumberOfCheckins >= 19"
						[class.purple]="registration.totalNumberOfCheckins >= 24">
						<img src="../../assets/coder-dojo-logo.svg" />
						<div class="cd-badge-center"></div>
					</div>
					<div class="cd-badge-qrcode">
						<img src="http://chart.googleapis.com/chart?cht=qr&chs=125x125&chld=M|0&chl={{registration.participant.id}}" />
					</div>
					<div class="cd-badge-name">
						<div>{{registration.participant.givenName}}</div>
						<div>{{registration.participant.familyName}}</div>
						<div>
							<span [hidden]="!registration.totalNumberOfCheckins">{{registration.totalNumberOfCheckins + 1}} CoderDojo Punkte</span>
							<span [hidden]="registration.totalNumberOfCheckins">1 CoderDojo Punkt</span>
						</div>
					</div>
				</div>
				<div *ngIf="i % 8 == 7"></div>
			</template>
		</div>
	</template>
</div>