.video-box {
    position: relative;
    width: 100%;
    margin-bottom: 40px;
}

.video-box:before {
    content: "";
    display: block;
    padding-top: 75%; /* initial ratio of 1:1*/
}

.video-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #999;
}

video {
    width: 100%;
    height: 100%;
}

canvas {
    display: none;
}

button[hidden] {
    display: none;
}

.scan-button {
    height: 80px;
}

#welcome-message {
    margin-top: 26px;
    font-size: 30px;
}
