* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cd-badges {
	width: 18cm;
	margin-right: auto;
	margin-left: auto;
	font-family: "Segoe UI";
}

.cd-badge-page {
    -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
    page-break-inside: avoid; /* Firefox */
    break-inside: avoid; /* IE 10+ */
    padding-top: 20px;
}

.cd-badge {
    width: 9cm;
    height: 6cm;
    border: 1px solid #ddd;
    display: inline-block;
    position: relative;
    margin-top: -1px;
    page-break-inside: avoid;
    -webkit-region-break-inside: avoid;
    background-color: #fff;
}

.cd-badge-marker {
    line-height: 5cm;
    font-size: 56px;
    text-align: center;
    width: 100%;
    position: absolute;
}

.cd-badge-marker-arrow {
    position: absolute;
    bottom: 40px;
    text-align: center;
    width: 100%;
    font-size: 47px;
}

.cd-badge:nth-of-type(2n) {
    margin-left: -1px;
}

.cd-badge-header {
    width: 100%;
    height: 1.8cm;
    background-color: #d9d9d9 !important;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
}

.cd-badge-header.yellow {
    background-color: #ffeb38 !important;
}

.cd-badge-header.orange {
    background-color: #ff9800 !important;
}

.cd-badge-header.green {
    background-color: #8bc34a !important;
}

.cd-badge-header.blue {
    background-color: #03A9F4 !important;
}

.cd-badge-header.purple {
    background-color: #9C27B0!important;
}

.cd-badge-header img {
    height: 1.2cm;
    top: 0.3cm;
    left: 0.5cm;
    position: absolute;
}

.cd-badge-center {
    width: 2px;
    height: 2px;
    background-color: #666 !important;
    position: absolute;
    left: 4.5cm;
    top: 0.9cm;
}

.cd-badge-qrcode {
    position: absolute;
    top: 2.2cm;
    left: 0.5cm;
    width: 3.5cm;
    height: 3.2cm;
}

.cd-badge-name {
    position: absolute;
    top: 3cm;
    left: 4.5cm;
    width: 4.5cm;
    text-align: center;
    font-size: 20px;
}

.cd-badge-name > div:first-child {
    font-size: 26px;
    font-weight: 500;
}

.cd-badge-name > div:nth-of-type(3) {
    margin-top: 15px;
    font-size: 10px;
    font-weight: 300;
}

.cd-badge-pagebreak {
    position: relative;
    display: block;
    page-break-after: always;
    -webkit-break-after: always;
    break-after: always;
    height: 10px;
}
