<nav class="navbar navbar-toggleable-md navbar-light bg-faded" *ngIf="auth.authenticated()">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<a class="navbar-brand" [routerLink]="['/participants']">CoderDojo Linz</a>

	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" [routerLink]="['/participants']">Participants</a>
			</li>
		</ul>

		<div>
			<span class="navbar-text" *ngIf="auth.userProfile">
				{{auth.userProfile.name}}
			</span>
			<span class="navbar-text">
				<button class="btn btn-primary btn-margin btn-sm" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
			</span>
		</div>
	</div>
</nav>

<router-outlet></router-outlet>