:host {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    font-family: Verdana;
    font-size: 14px;
	overflow-x: auto;
}

h1 {
	font-size: 40px;
}