<nav class="navbar navbar-toggleable-sm navbar-inverse bg-inverse" *ngIf="auth.authenticated()">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
		aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<a class="navbar-brand" [routerLink]="['/participants']"><img src="../assets/coder-dojo-logo-inv.svg" width="20" /> CoderDojo Linz</a>

	<div class="collapse navbar-collapse" id="navbarText">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item" [routerLinkActive]="['active']">
				<a class="nav-link" [routerLink]="['/scan']">Scan</a>
			</li>
			<li class="nav-item" [routerLinkActive]="['active']">
				<a class="nav-link" [routerLink]="['/participants']">Participants</a>
			</li>
            <li class="nav-item" [routerLinkActive]="['active']">
				<a class="nav-link" [routerLink]="['/badges']">Badges</a>
			</li>
		</ul>

		<span class="navbar-text cd-navbar-username" *ngIf="auth.userProfile">
			{{auth.userProfile.name}}
		</span>
		<span class="navbar-text">
			<button class="btn btn-outline-secondary btn-sm" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
		</span>
	</div>
</nav>

<div class="cd-content">
	<router-outlet></router-outlet>
</div>