<audio controls id="fanfareAudio">
  <source src="../../assets/fanfare.wav" type="audio/wav"> Your browser does not support the audio element.
</audio>

<div class="container-fluid">
  <div class="participants-container">
    <div *ngIf="!input" class="no-input">
      <div>Tippe die ersten Buchstaben deines Vornamen ein.</div>
    </div>
    <ng-template ngFor let-registration [ngForOf]="filteredRegistrations" let-i="index">
      <div (click)="checkin(registration)" class="registration text-center" [@flyInOut]="'in'" [class.yellow]="registration.totalNumberOfCheckins >= 5"
        [class.orange]="registration.totalNumberOfCheckins >= 10" [class.green]="registration.totalNumberOfCheckins >= 15"
        [class.blue]="registration.totalNumberOfCheckins >= 20" [class.purple]="registration.totalNumberOfCheckins >= 25">
        <div>{{registration.participant.givenName}}</div>
        <div>{{registration.participant.familyName}}</div>
        <div class="points">{{registration.totalNumberOfCheckins}}</div>
        <div class="status" [class.checked-in]="registration.checkedin">
          <i [hidden]="!registration.checkedin" class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<div class="container-fluid keyboard-bottom">
  <div class="row input-row">
    <div class="col-sm-3">
      <div class="input">
        {{input}}
      </div>
    </div>
    <div class="col-sm-6">
      <select class="form-control" [(ngModel)]="selectedEvent" (ngModelChange)="loadParticipants()">
        <option *ngFor="let event of events" [value]="event._id">{{event.date | date}}
          <span *ngIf="event.type == 'playground'"> Playground</span>
        </option>
      </select>
    </div>
    <div class="col-sm-3">
      <button mat-mini-fab (click)="addParticipant()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <div class="keyboard-container">
    <div class="keyboard">
      <ng-template ngFor let-row [ngForOf]="keys" let-i="index">
        <div class="keyboard-row-{{i}}">
          <ng-template ngFor let-key [ngForOf]="keys[i]" let-j="index">
            <div class="key {{key == 'del' || key == 'clear' ? 'special' : ''}}" (click)="enterKey(key)">{{key}}</div>
          </ng-template>
        </div>
      </ng-template>
    </div>
  </div>
</div>

<div id="welcomeDialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <small>CoderDojo Linz</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="selectedRegistration">
        <div class="row">
          <div class="col-sm-6 col-md-8">
            <h1>Hallo {{selectedRegistration.participant.givenName}}!</h1>

            <p class="lead" [hidden]="selectedRegistration.totalNumberOfCheckins">Du hast heute deinen ersten CoderDojo Punkt gesammelt!</p>
            <p class="lead" [hidden]="!selectedRegistration.totalNumberOfCheckins">Sch&ouml;n, dass du wieder dabei bist!</p>

            <p class="lead">Klicke auf "Einchecken", um deinen CoderDojo Punkt zu speichern.</p>

            <!--<p class="lead" [hidden]="selectedRegistration.totalNumberOfCheckins + 1 != 5">Gratuliere! Du hast heute 5 Punkte erreicht.</p>
						<p [hidden]="selectedRegistration.totalNumberOfCheckins + 1 != 5">Du darfst dir bei den Mentoren ein kleines Geschenk abholen.</p>-->
          </div>
          <div class="col-sm-6 col-md-4 points">
            <div>
              <div>{{selectedRegistration.totalNumberOfCheckins ? selectedRegistration.totalNumberOfCheckins + 1 : 1}}</div>
            </div>
            <p class="text-center">CoderDojo Punkte</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg" data-dismiss="modal" (click)="cancelCheckin()">Abbrechen</button>
        <button type="button" class="btn btn-info btn-lg check-in-button" data-dismiss="modal" (click)="confirmCheckin(selectedRegistration)">
          <b>Einchecken</b>
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<div id="addParticipantDialog" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">
          <small>CoderDojo Linz</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <h1>Neuer Teilnehmer</h1>
            <form class="example-form">
              <mat-form-field class="full-width">
                <input matInput placeholder="Vorname" [(ngModel)]="newParticipantGivenName" name="newParticipantGivenName" id="newParticipantGivenName" required>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Nachname" [(ngModel)]="newParticipantFamilyName" name="newParticipantFamilyName" required>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput placeholder="Email-Adresse" [(ngModel)]="newParticipantEmail" name="newParticipantEmail">
              </mat-form-field>
              <mat-form-field class="full-width">
                <mat-select placeholder="Mädchen / Junge" [(ngModel)]="newParticipantGender" name="newParticipantGender" required>
                  <mat-option *ngFor="let gender of genders" [value]="gender.code">
                    {{ gender.description }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="full-width">
                <mat-select placeholder="Geburtsjahr" [(ngModel)]="newParticipantYearOfBirth" name="newParticipantYearOfBirth" required>
                  <mat-option *ngFor="let yearOfBirth of yearsOfBirth" [value]="yearOfBirth">
                    {{ yearOfBirth ? yearOfBirth.toString() : '' }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>
          <!-- <div class="col-sm-4">
            Vorname
          </div>
          <div class="col-sm-8">
            <input id="givenName" />
          </div> -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-lg" data-dismiss="modal" (click)="cancelAddParticipant()">Abbrechen</button>
        <button type="submit" class="btn btn-info btn-lg check-in-button" (click)="confirmAddParticipant()">
          <b>Einchecken</b>
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->